<!DOCTYPE html>
<html>

<head>
    <title> File Upload </title>
</head>

<body>
    <!-- HTML5 Input Form Elements -->
    <input id="fileupload" type="file" name="fileupload" />
    <button id="upload-button" onclick="uploadFile()"> Upload </button>

    <!-- Ajax JavaScript File Upload Logic -->
    <script>
        async function uploadFile() {
            let formData = new FormData();
            formData.append("file", fileupload.files[0]);
            await fetch('http://127.0.0.1:5000/upload', {
                method: "POST",
                body: formData
            });
            alert('The file has been uploaded successfully.');
        }
    </script>

</body>

</html>