<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Up to Dev </title>
    <link rel="stylesheet" href="css/signup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="title">Login</div>
        <div class="content">
            <form action="#" method="post">
                <div class="user-details">
                    <!-- <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" required>
          </div> -->
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" name="username" placeholder="Enter your username" required>
        </div>

                    <!-- <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div> -->
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" id="password" name="password" placeholder="Enter your password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
                            required>
                        <!-- <span class="eye-password" onclick="toggleEyeButtonForPassword()">
                            <i id="hide-eye-password" class="fa fa-eye"></i>
                            <i id="hide-eye-slash-password" class="fa fa-eye-slash"></i>
                        </span> -->
                    </div>
                    

                </div>

                <div class="button">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>

</body>
<script>
    function toggleEyeButtonForPassword() {
        var input = document.getElementById("password");
        var eye = document.getElementById("hide-eye-password");
        var eye_slash = document.getElementById("hide-eye-slash-password");
        if (input.type === 'password') {
            input.type = "text";
            eye.style.display = "block";
            eye_slash.style.display = "none";
        }
        else {
            input.type = "password";
            eye.style.display = "none";
            eye_slash.style.display = "block";
        }
    }
    function toggleEyeButtonForConfirmPassword() {
        var input = document.getElementById("confirm-password");
        var eye = document.getElementById("hide-eye-confirm-password");
        var eye_slash = document.getElementById("hide-eye-slash-confirm-password");
        if (input.type === 'password') {
            input.type = "text";
            eye.style.display = "block";
            eye_slash.style.display = "none";
        }
        else {
            input.type = "password";
            eye.style.display = "none";
            eye_slash.style.display = "block";
        }
    }
    $(document).ready(function () {
        // $.ajax({
        //     type: 'GET',
        //     data: {},
        //     url: '/getType',
        //     success: function (data) {
        //         // console.log(data);
        //         var result = [];
        //         for (var i in data) {
        //             result.push([data[i]]);
        //             // create option using DOM
        //             const newOption = document.createElement('option');
        //             const optionText = document.createTextNode(data[i]);
        //             // set option text
        //             newOption.appendChild(optionText);
        //             // and option value
        //             newOption.setAttribute('value', data[i]);
        //             const select = document.getElementById('userType');
        //             select.appendChild(newOption);
        //         }

        //         console.log(result);
        //         // if (data.upazilla !== null) $('#basic_upazilla').val(data.upazilla);
        //     }
        // });
    });
</script>

</html>