<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Up to Dev </title>
    <link rel="stylesheet" href="css/signup.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <% if(typeof alert !='undefined' ) { %>
        <% alert.forEach(function(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= error.msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
            </div>
            <% }) %>
                <% } %>
                    <div class="container">
                        <div class="title">Registration</div>
                        <div class="content">
                            <form action="#" method="post">
                                <div class="user-details">
                                    <!-- <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" required>
          </div> -->
                                    <div class="input-box">
                                        <span class="details">Username</span>
                                        <input type="text" name="username" placeholder="Enter your username" required>
                                    </div>

                                    <div class="input-box">
                                        <span class="details">Email</span>
                                        <input type="email" name='email' placeholder="Enter your email" required>
                                    </div>
                                    <!-- <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div> -->
                                    <div class="input-box">
                                        <span class="details">Password</span>
                                        <input type="password" id="password" name="password"
                                            placeholder="Enter your password"
                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
                                            required>
                                        <!-- <span class="eye-password" onclick="toggleEyeButtonForPassword()">
                            <i id="hide-eye-password" class="fa fa-eye"></i>
                            <i id="hide-eye-slash-password" class="fa fa-eye-slash"></i>
                        </span> -->
                                    </div>
                                    <div class="input-box">
                                        <span class="details">Confirm Password</span>
                                        <input type="password" id="confirm-password" name="confirm_password"
                                            placeholder="Confirm your password"
                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                            title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"
                                            required>
                                        <!-- <span class="eye-confirm-password" onclick="toggleEyeButtonForConfirmPassword()">
                            <i id="hide-eye-confirm-password" class="fa fa-eye"></i>
                            <i id="hide-eye-slash-confirm-password" class="fa fa-eye-slash"></i>
                        </span> -->
                                    </div>
                                    <div class="input-box">
                                        <span for="user_type" class="details">User Type</span>

                                        <select name="user_type" id="userType" onchange='toggle()'required>
                                            <option value="" disabled selected>Select a Type</option>
                                            <option value="APP">Application User</option>
                                            <option value="EXEC">Executive Agnecy</option>
                                        </select>
                                    </div>
                                    <div class="input-box forAgency" id="forAgency1" style="display: none;">
                                        <span class="details">Agency Name</span>
                                        <input type="text" name="agencyName" placeholder="Enter your agency name">
                                    </div>
                                    <div class="input-box forAgency" id="forAgency" style="display: none;">
                                        <span class="details">Description</span>
                                        <input type="text" name="description"
                                            placeholder="Enter your agency description">
                                    </div>

                                </div>

                                <div class="button">
                                    <input type="submit" value="Register">
                                </div>
                            </form>
                        </div>
                    </div>

</body>
<script>
    function toggleEyeButtonForPassword() {
        var input = document.getElementById("password");
        var eye = document.getElementById("hide-eye-password");
        var eye_slash = document.getElementById("hide-eye-slash-password");
        if (input.type === 'password') {
            input.type = "text";
            eye.style.display = "block";
            eye_slash.style.display = "none";
        }
        else {
            input.type = "password";
            eye.style.display = "none";
            eye_slash.style.display = "block";
        }
    }
    function toggleEyeButtonForConfirmPassword() {
        var input = document.getElementById("confirm-password");
        var eye = document.getElementById("hide-eye-confirm-password");
        var eye_slash = document.getElementById("hide-eye-slash-confirm-password");
        if (input.type === 'password') {
            input.type = "text";
            eye.style.display = "block";
            eye_slash.style.display = "none";
        }
        else {
            input.type = "password";
            eye.style.display = "none";
            eye_slash.style.display = "block";
        }
    }
    function toggle() {
        var userType = document.getElementById("userType");
        console.log(userType.value);
        if (userType.value == "EXEC") {
            var forAgency = document.getElementById('forAgency')
            forAgency.style.display = "block";
            var forAgency1 = document.getElementById('forAgency1')
            forAgency1.style.display = "block";
        } else {
            var forAgency = document.getElementById('forAgency')
            forAgency.style.display = "none";
            var forAgency1 = document.getElementById('forAgency1')
            forAgency1.style.display = "none";
        }

    }

    $(document).ready(function () {
        // $.ajax({
        //     type: 'GET',
        //     data: {},
        //     url: '/getType',
        //     success: function (data) {
        //         // console.log(data);
        //         var result = [];
        //         for (var i in data) {
        //             result.push([data[i]]);
        //             // create option using DOM
        //             const newOption = document.createElement('option');
        //             const optionText = document.createTextNode(data[i]);
        //             // set option text
        //             newOption.appendChild(optionText);
        //             // and option value
        //             newOption.setAttribute('value', data[i]);
        //             const select = document.getElementById('userType');
        //             select.appendChild(newOption);
        //         }

        //         console.log(result);
        //         // if (data.upazilla !== null) $('#basic_upazilla').val(data.upazilla);
        //     }
        // });
    });
</script>

</html>